@using Microsoft.AspNet.Identity

@model FYP.ViewModel.ProfileDataViewModel

@{

    Layout = "~/Views/Shared/_LayoutProject.cshtml";

}

<!-- SUB Banner -->
<div class="profile-bnr sub-bnr user-profile-bnr">
    <div class="position-center-center">
        <div class="container">
            <h2> </h2>
        </div>
    </div>
</div>


<div class="compny-profile">

    <!-- Profile Company Content -->
    <div class="profile-company-content" data-bg-color="fff">
        <div class="container">
            <div class="row">

                <!-- SIDE BAR -->
                <div class="col-md-4">
                    <!-- Company Information -->
                    <div class="sidebar">
                        <h5 class="main-title">@Model.UserT.FirstName @Model.UserT.LastName</h5>
                        <div class="sidebar-thumbnail"> <img src="~/images/UserImages/@Model.UserT.ImageUrl" alt=""> </div>
                        <div class="sidebar-information">
                            <div class="profile-usermenu">
                                <ul class="nav nav-links">
                                    <li><span class="fa fa-cog"></span>  @Html.ActionLink("Profile Settings", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                                    <li>
                                        @using (Html.BeginForm("LogOff", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                        {
                                            @Html.AntiForgeryToken()

                                            <a href="javascript:document.getElementById('logoutForm').submit()"><span class="fa fa-sign-out" aria-hidden="true"></span>Log off</a>
                                            
                                        }
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Tab Content -->
                <div class="col-md-8">

                    <h2>  Participant Dashboard</h2>




                    <div class="network">

                        <!-- Nav Tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#AcForms">Active Forms (2)</a></li>
                            <li><a data-toggle="tab" href="#comm">Communities</a></li>
                            <li><a data-toggle="tab" href="#sforms">Sealed Forms (103)</a></li>
                        </ul>

                        <!-- Tab Content -->
                        <div class="tab-content">

                            <div id="AcForms" class="tab-pane fade in active">
                                <div class="net-work-in">
                                    <h3> hello bravo</h3>
                                </div>
                            </div>

                            <!-- Followers -->
                            <div id="comm" class="tab-pane fade">

                            <div class="net-work-in"> 
                    
                    
                            <!-- Members -->
                            <div class="main-mem"> 
                      
                            <!-- Head -->
                            <div class="head">
                                <div class="row">

                                    <div class="col-sm-4">
                            
                                    </div>


                                    <div class="col-sm-4">
                                        <form>
                                            <input type="search" placeholder="Search">
                                            <button type="submit"><i class="fa fa-search"></i></button>
                                        </form>
                                    </div>
                                    <div class="col-sm-4">
                                        <select>
                                            <option>Alphabetical</option>
                                            <option>Date Created</option>
                                            <option>Latest First</option>
                                        </select>
                                    </div>
						
                                </div>
                            </div>
                      
                            <!-- Tittle -->
                            <div class="tittle">
                                <ul class="row">
                                    <li class="col-xs-4"> <span>Community Name</span> </li>
                                    <li class="col-xs-2"> <span>Members</span> </li>
                                    <li class="col-xs-2"> <span>Forms</span> </li>
                                    <li class="col-xs-2 n-p-r n-p-l"> <span>Active</span> </li>
                                    <li class="col-xs-1 n-p-r n-p-l"> <span>Action</span> </li>
                                </ul>
                            </div>
                      
                            <!-- Tittle -->
                            <div class="folow-persons">
                            <ul>
                          
                                @foreach (var item in Model.CommunitiesList)
                                {
                                    <!-- COMMUNITY -->
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-4"> 
                                                <!-- COMMUNITY TITLE -->
                                                <div class="fol-name">
									
                                                    <!-- COMMUNITY Logo -->
                                                    <div class="avatar"> <img src="~/CommunityImages/@item.Community.CommunityLogo" alt=""> </div>
                                  
                                                    <!-- COMMUNITY Title -->
                                                    <h6>@item.Community.CommunityName</h6>
									
                                                    <!-- COMMUNITY About -->
                                                    <span>@item.Community.CommunityAbout</span> </div>
                              
                                            </div>
							  
                                            <!-- Members -->
                                            <div class="col-xs-2 n-p-r n-p-l"> <span>@item.Community.CommunityUsers.Count()</span> </div>
                              
							  
                                            <!-- Total Forms -->
                                            <div class="col-xs-2 n-p-r"> <span>13</span></div>
                              
                                            <!-- Active Forms -->
                                            <div class="col-xs-2 n-p-r n-p-l"> <span>2</span> </div>
							  
                                            <div class="col-xs-1">

                                                @Html.ActionLink("Go", "ParticipantViewDetail", new { controller = "Participant", id = @item.CommunityID })

                                            </div>

                                        </div>
                                    </li>
                          
                                }
                          
                          
                            </ul>
                            
                            
                            </div>
                            </div>
                            </div>
                

                                
                            </div>



                            <div id="sforms" class="tab-pane fade in active">

                                <div class="net-work-in">
                                    <h3> hello jello</h3>
                                </div>

                            </div>


                        </div>


                    </div>
                </div>


            </div>

        </div>
    </div>
</div>


