@using Microsoft.AspNet.Identity

@model FYP.ViewModel.ProfileDataViewModel

@{

    Layout = "~/Views/Shared/_LayoutProject.cshtml";

}

<!-- SUB Banner -->
<div class="profile-bnr sub-bnr user-profile-bnr">
    <div class="position-center-center">
        <div class="container">
            <h2> </h2>
        </div>
    </div>
</div>


<div class="compny-profile">

    <!-- Profile Company Content -->
    <div class="profile-company-content" data-bg-color="fff">
        <div class="container">
            <div class="row">

                <!-- SIDE BAR -->
                <div class="col-md-4">
                    <!-- Company Information -->
                    <div class="sidebar">
                        <h5 class="main-title">@Model.UserT.FirstName @Model.UserT.LastName</h5>
                        <div class="sidebar-thumbnail"> <img src="~/images/UserImages/@Model.UserT.ImageUrl" alt=""> </div>
                        <div class="sidebar-information">
                            <div class="profile-usermenu">
                                <ul class="nav nav-links">
                                    <li><a href="@Url.Action("Index", "Manage")"><i class="fa fa-cog"></i> Account Settings</a></li>
                                    <li>
                                        @using (Html.BeginForm("LogOff", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                        {
                                            @Html.AntiForgeryToken()

                                            <a href="javascript:document.getElementById('logoutForm').submit()"><span class="fa fa-sign-out" aria-hidden="true"></span>Log off</a>

                                        }
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Tab Content -->
                <div class="col-md-8">

                    <h2>  Participant Dashboard</h2>

                    <div class="network">

                        <!-- Nav Tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#AcForms">Active Forms (@Model.activeform.Count)</a></li>
                            <li><a data-toggle="tab" href="#comm">Communities(@Model.CommunitiesList.Count)</a></li>
                            <li><a data-toggle="tab" href="#sforms">Sealed Forms (@Model.sealedform.Count)</a></li>
                        </ul>

                        <!-- Tab Content -->
                        <div class="tab-content">

                            <div id="AcForms" class="tab-pane fade in active">
                                <div class="net-work-in">
                                    <div class="main-mem">
                                        <!-- Tittle -->
                                        <div class="tittle">
                                            <ul class="row">
                                                <li class="col-xs-4"> <span>Title</span> </li>
                                                <li class="col-xs-3"> <span>Community</span> </li>
                                                <li class="col-xs-3"> <span>Total Members</span> </li>
                                                <li class="col-xs-2 n-p-r n-p-l"> <span>Responses</span> </li>
                                            </ul>
                                        </div>
                                        <div class="folow-persons">
                                            <ul>
                                                @for (var i = 0; i < Model.activeform.Count; i++)
                                                {
                                                        <li>

                                                            <div class="row">
                                                                <div class="col-xs-4">

                                                                    <!-- Form Title -->
                                                                    <div class="fol-name">

                                                                        <!-- Form Logo -->

                                                                        <div class="avatar"> <img src="images/sm-avatar.jpg" alt=""> </div>

                                                                        <!-- Form Title -->
                                                                        <h6>@Model.activeform[i].QForms.FormTitle</h6>

                                                                        <!-- Form About -->
                                                                        <span>@Model.activeform[i].QForms.FormDetail</span>
                                                                    </div>

                                                                </div>

                                                                <!-- Form Community -->
                                                                <div class="col-xs-3 n-p-r n-p-l"> <span>@Model.activeform[i].Community.CommunityName</span> </div>


                                                                <!-- Total Members -->
                                                                <div class="col-xs-3 n-p-r"> <span>@Model.activeform[i].Community.CommunityUsers.Count</span></div>

                                                                <!-- Response Received -->
                                                                <div class="col-xs-2 n-p-r n-p-l"> <span>@Model.activeform[i].QForms.FormUser.Count</span> </div>

                                                            </div>
                                                        </li>
                                                    
                                                }
                                            </ul>
                                        </div>


                                    </div>
                                </div>
                            </div>

                            <!-- Followers -->
                            <div id="comm" class="tab-pane fade">

                                <div class="net-work-in">


                                    <!-- Members -->
                                    <div class="main-mem">

                                        <!-- Head -->
                                        <div class="head">
                                            <div class="row">

                                                <div class="col-sm-4">

                                                </div>


                                                <div class="col-sm-4">
                                                    <form>
                                                        <input type="search" placeholder="Search">
                                                        <button type="submit"><i class="fa fa-search"></i></button>
                                                    </form>
                                                </div>
                                                <div class="col-sm-4">
                                                    <select>
                                                        <option>Alphabetical</option>
                                                        <option>Date Created</option>
                                                        <option>Latest First</option>
                                                    </select>
                                                </div>

                                            </div>
                                        </div>

                                        <!-- Tittle -->
                                        <div class="tittle">
                                            <ul class="row">
                                                <li class="col-xs-4"> <span>Community Name</span> </li>
                                                <li class="col-xs-2"> <span>Members</span> </li>
                                                <li class="col-xs-2"> <span>Forms</span> </li>
                                                @*<li class="col-xs-2 n-p-r n-p-l"> <span>Active</span> </li>*@
                                                <li class="col-xs-2 n-p-r n-p-l"> <span>Action</span> </li>
                                            </ul>
                                        </div>

                                        <!-- Tittle -->
                                        <div class="folow-persons">
                                            <ul>

                                                @foreach (var item in Model.CommunitiesList)
                                                {
                                                    <!-- COMMUNITY -->
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-xs-4">
                                                                <!-- COMMUNITY TITLE -->
                                                                <div class="fol-name">

                                                                    <!-- COMMUNITY Logo -->
                                                                    <div class="avatar"> <img src="~/CommunityImages/@item.CommunityLogo" alt=""> </div>

                                                                    <!-- COMMUNITY Title -->
                                                                    <h6>@item.CommunityName</h6>

                                                                    <!-- COMMUNITY About -->
                                                                    <span>@item.CommunityAbout</span>
                                                                </div>

                                                            </div>

                                                            <!-- Members -->
                                                            <div class="col-xs-2 n-p-r n-p-l"> <span>@item.CommunityUsers.Count()</span> </div>


                                                            <!-- Total Forms -->
                                                            <div class="col-xs-2 n-p-r"> <span>@item.FormsCommunity.Count</span></div>

                                                            <!-- Active Forms -->
                                                            <div class="col-xs-2 n-p-r n-p-l"> <span></span> </div>

                                                            <div class="col-xs-2">

                                                                @Html.ActionLink("Go", "ParticipantViewDetail", new { controller = "Participant", id = @item.CommunityID })

                                                            </div>

                                                        </div>
                                                    </li>

                                                }


                                            </ul>


                                        </div>
                                    </div>
                                </div>



                            </div>



                            <div id="sforms" class="tab-pane fade">

                                <div class="net-work-in">
                                    <div class="main-mem">
                                        <!-- Tittle -->
                                        <div class="tittle">
                                            <ul class="row">
                                                <li class="col-xs-4"> <span>Title</span> </li>
                                                <li class="col-xs-3"> <span>Community</span> </li>
                                                <li class="col-xs-3"> <span>Total Members</span> </li>
                                                @*<li class="col-xs-2 n-p-r n-p-l"> <span>Response</span> </li>*@
                                                <li class="col-xs-2 n-p-r n-p-l"> <span>Result</span> </li>
                                            </ul>
                                        </div>
                                        <div class="folow-persons">
                                            <ul>
                                                @for (var i = 0; i < Model.sealedform.Count; i++)
                                                {
                                                        <li>

                                                            <div class="row">
                                                                <div class="col-xs-4">

                                                                    <!-- Form Title -->
                                                                    <div class="fol-name">

                                                                        <!-- Form Logo -->

                                                                        <div class="avatar"> <img src="images/sm-avatar.jpg" alt=""> </div>

                                                                        <!-- Form Title -->
                                                                        <h6>@Model.sealedform[i].QForms.FormTitle</h6>

                                                                        <!-- Form About -->
                                                                        <span>@Model.sealedform[i].QForms.FormDetail</span>
                                                                    </div>

                                                                </div>

                                                                <!-- Form Community -->
                                                                <div class="col-xs-3 n-p-r n-p-l"> <span>@Model.sealedform[i].Community.CommunityName</span> </div>


                                                                <!-- Total Members -->
                                                                <div class="col-xs-3 n-p-r"> <span>@Model.sealedform[i].Community.CommunityUsers.Count</span></div>

                                                                <!-- Response Received -->
                                                                @*<div class="col-xs-2 n-p-r n-p-l"> <span>@Model.fcom[i].QForms.FormUser.Count</span> </div>*@
                                                                <!--View Form-->
                                                                <div class="col-xs-2 n-p-r n-p-l"> @Html.ActionLink("View", "PFormResult", new { controller = "Participant", c_id = Model.fc[i].CommunityID, id = Model.fc[i].QFormID }) </div>

                                                            </div>
                                                        </li>
                                                    
                                                }
                                            </ul>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
