@using System.Web.UI.WebControls
@model FYP.ViewModel.HomePageViewModel

@{

    Layout = "~/Views/Shared/_LayoutProject.cshtml";
}

    <div id="main-wrapper">


        <!-- HOME PRO-->
        <div class="home-pro">

            <!-- PRO BANNER HEAD -->
            <div class="banr-head">
                <div class="container">
                    <div class="row">

                        <!-- CONTENT -->
                        <div class="col-sm-7">
                            
                            <img src="~/images/index-cover.png" width="80%"/>

                        </div>

                        <!-- FORM SECTION -->
                        <div class="col-sm-5">
                            <div class="login-sec">

                                <!-- TABS -->
                                <div class="uou-tabs">
                                    <ul class="tabs">
                                        <li><a href="#register">Register Now</a></li>
                                        <li class="active"><a href="#log-in">Member Login</a></li>
                                    </ul>

                                    <!-- REGISTER -->
                                    <div class="content">
                                        <div id="register">
                                            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                
                                                    @Html.TextBoxFor(m => m.Reg.FirstName, new { PlaceHolder = "First Name" })
                                                    @Html.TextBoxFor(m => m.Reg.LastName, new { PlaceHolder = "Last Name" })
                                                
                                                    @Html.TextBoxFor(m => m.Reg.UserName, new { PlaceHolder = "Username" })
                                                    @Html.TextBoxFor(m => m.Reg.Email, new { PlaceHolder = "Email Address" })


                                                    @Html.PasswordFor(m => m.Reg.Password, new { PlaceHolder = "Password" })
                                                    @Html.PasswordFor(m => m.Reg.ConfirmPassword, new { PlaceHolder = "Confirm Password" })
    
                                                
                                                    @Html.Label("Birthday", new { @class = "col-md-4" })
                                                    @Html.TextBoxFor(m => m.Reg.DOB, new { @class = "date", type = "date" })


                                                <div class="form-group">
                                                    @Html.Label("Gender", new { @class = "col-md-4" })
                                                    @Html.RadioButtonFor(m => m.Reg.Gender, "Male", new { @class = "radio-inline form-control" })@Html.Label("Male")
                                                    @Html.RadioButtonFor(m => m.Reg.Gender, "Female", new { @class = "radio-inline form-control" })@Html.Label("Female")
                                                </div>

                                                <div class="form-group">
                                                    @Html.Label("User Role", new { @class = "col-md-4" })
                                                    @Html.RadioButtonFor(m => m.Reg.UserRole, "Admin", new { @class = "radio-inline form-control" })@Html.Label("Admin")
                                                    @Html.RadioButtonFor(m => m.Reg.UserRole, "Participant", new { @class = "radio-inline form-control" })@Html.Label("Participant")
                                                </div>

                                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                                

                                                <div class="login-sec">
                                                        <button type="submit">Register</button>
                                                    </div>

                                            }
                                        </div>

                                        <!-- LOGIN -->
                                        <div id="log-in" class="active">
                                            @using (Html.BeginForm("Login", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                    
                                                @Html.TextBoxFor(u => u.Log.Email, new {PlaceHolder = "Email Address"})
                                                @Html.ValidationMessageFor(u => u.Log.Email, "", new { @class = "text-danger" })
                                                    
                                                
                                                @Html.PasswordFor(u => u.Log.Password, new { PlaceHolder = "Password" })
                                                @Html.ValidationMessageFor(u => u.Log.Password, "", new { @class = "text-danger" })
                                                
                                                
                                                <div class="login-sec">
                                                    <button type="submit">Login</button>
                                                    
                                                </div>

                                                <div class="forget">
                                                    Forgot your password? @Html.ActionLink("Click here", "ForgotPassword")
                                                </div>
                                                        @*<div class="col-md-3">
                                                            @Html.ActionLink("Forgot?", "ForgotPassword")
                                                            </div>*@
                                                    

                                            }
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            
            
            </div>
        </div>
     </div>


@Scripts.Render("~/bundles/bootstrap")