@model FYP.Models.QForm
@{
    ViewBag.Title = "AddForm";
    Layout = "~/Views/Shared/_LayoutProject.cshtml";
}
<a class="btn btn-primary" href="/admin/ViewDetails/@ViewBag.id/"><i class="fa fa-arrow-left"></i>Back</a>

<h2>AddForm</h2>


@using (Html.BeginForm("AddForm", "admin", new { c_id = ViewBag.id }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <label>Form Title*</label>
        @Html.TextBoxFor(a => a.FormTitle, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.FormTitle)
    </div>
    <div class="form-group">
        <label>Form Detail</label>
        @Html.TextBoxFor(a => a.FormDetail, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.FormDetail)
    </div>
    <div class="form-group">
        
        <div class="row">

            <div class="col-md-2">
                <label>Select Form Type *</label>
            </div>
            <div class="col-md-4">
                @Html.DropDownList("ft", new List<SelectListItem>
                {
                    new SelectListItem{ Text="Poll ", Value = "1" },
                    new SelectListItem{ Text="Frequency", Value = "2" },
                })
            </div>
        </div>
        
    </div>
        <div class="form-control ">
           @*@Html.LabelFor(m => m.Expiry_Time, new { @class = "col-md-2 control-label" })*@
            <div class="col-md-4">
                <p>Expiry Time*</p>
            </div>
            <div class="col-md-6">
                @*<input type="text" name="datepicker"/>*@
                @Html.TextBoxFor(m => m.Expiry_Time, "{0:MM/dd/yyyy HH:mm:ss}", new { @class = "form-control",id="datepicker"})
             
                   @Html.TextBoxFor(m => m.Expiry_Time, "{0:MM/dd/yyyy HH:mm:ss}", new { @class = "form-control",type="datetime-local" ,id = "datepicker" })
                
                 @Html.ValidationMessageFor(a => a.Expiry_Time)
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Create</button>

}

@*<script type="text/javascript">
    $(document).ready(function () {
        $("#datepicker").datepicker
            ({
                startDate: '12/30/2016', //syntax nai yaad
                //endDate: '',
                dateFormat: 'mm/dd/yy',
                //showStatus: true,
                showWeeks: true,
                //highlightWeek: true,
                numberOfMonths: 1
                //showAnim: "scale",
                //showOptions: {
                  //  origin: ["top", "left"]
                //}
            });
    });
</script>
@Scripts.Render("~/bundles/jqueryval")*@
