@model FYP.Models.Question
@{
    ViewBag.Title = "AddQuestion";
    Layout = "~/Views/Shared/_LayoutProject.cshtml";
}

<h2>AddQuestion</h2>



@using (Html.BeginForm("AddQuestion", "admin", new { c_id = ViewBag.c_id, qf_id = ViewBag.qf_id }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ActionLink("Back to Community", "ViewDetails", new { id = ViewBag.c_id })
    <div>

        @Html.LabelFor(a => a.QuestionString, new { @class = "col-md-3" })
        <div class="col-md-8">
            @Html.TextBoxFor(a => a.QuestionString)
            @Html.ValidationMessageFor(a => a.QuestionString)
        </div>
    </div>

    @*<div class="input_fields_wrap1">

            <div class="row">

                <div class="col-md-3">
                    <label>Question Statement</label>
                </div>
                <div class="col-md-4">
                    <input type="text" name="Multiple_Question[]">
                </div>
                <div class="col-md-4">
                    <button class="add_field_button1">Add More Question</button>
                </div>
            </div>
        </div>*@

    <br />

    <div class="input_fields_wrap">

        <div class="row">

            <div class="col-md-3">
                <label>Answer</label>
            </div>
            <div class="col-md-4">
                <input type="text" name="Multiple_Answer[]">
            </div>
            <div class="col-md-4">
                <button class="add_field_button">Add More Options</button>
            </div>
        </div>
    </div>
    <div>
        @* <button class="btn btn-primary" type="submit">Add</button>*@

        <button class="btn btn-primary" type="submit">Add More Question</button>
        @*<button class="btn btn-success" href="~/Admin/ViewDetails/@ViewBag.c_id">Publish</button>*@


    </div>
}

<script src="~/Scripts/Multi_Answer.js"></script>
