@model FYP.Models.Question
@{
    ViewBag.Title = "AddQuestion";
    Layout = "~/Views/Shared/_LayoutProject.cshtml";
}

<h2>AddQuestion</h2>



<div class="container">
    <h2>AddQuestion</h2>

    @using (Html.BeginForm("AddQuestion", "admin", new { c_id = ViewBag.c_id, qf_id = ViewBag.qf_id, ft = ViewBag.ft }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()


        <div class="col-md-8">
            <div class="form-group col-md-12">
                @Html.ActionLink("Back to Community", "ViewDetails", new { id = ViewBag.c_id })
            </div>
            <div class="col-md-12 form-group">
                @Html.LabelFor(a => a.QuestionString, new { @class = "" })
                @Html.TextBoxFor(a => a.QuestionString)
                @Html.ValidationMessageFor(a => a.QuestionString)
            </div>
            @if (ViewBag.ft==1)
            {
            <div class="col-md-12 form-group">

                <label>Answer</label>

                <input type="text" name="Multiple_Answer[]">
            </div>
            <div class="form-group col-md-4 input_fields_wrap">
                <button class="add_field_button">Add More Options</button>

            </div>
            <script src="~/Scripts/Multi_Answer.js"></script>

            }
            else
            {


            }
        </div>
        <div class="col-md-4">

            <button class="btn btn-primary" type="submit" name="mul" value="More">Add</button>
            <br />

        </div>
 }
</div>
