@model FYP.Models.Community
@{
    Layout = null;
}
<h2>Edit007</h2>
<a class="btn btn-primary" href="/admin/ViewDetails/@Model.CommunityID/"><i class="fa fa-arrow-left"></i>Back</a>

@using (Html.BeginForm("edit", "admin", FormMethod.Post))
{


        @Html.HiddenFor(a => a.CommunityID);
    
        <div class="form-group">
            <label>Community Name</label>
            @Html.TextBoxFor(a => a.CommunityName, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.CommunityName)
        </div>
        <div class="form-group">
            <label>CommunityAbout</label>
            @Html.TextBoxFor(a => a.CommunityAbout, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.CommunityAbout)
        </div>
        <div>
            <input type="submit" value="Save" />
        </div>
    
}

