@using Microsoft.AspNet.Identity
@model FYP.ViewModel.CommunityUserViewModel


@{
    Layout = "~/Views/Shared/_LayoutProject.cshtml";
}



<!-- SUB Banner 
<div class="profile-bnr sub-bnr user-profile-bnr">
    <div class="right-top-bnr">
        <div class="compop">
            <a class="popup btn btn-primary" href="/admin/create" style="margin-bottom:15px; margin-top:15px;">Add New Community</a>
        </div>
    </div>
</div>
-->

<div class="compny-profile">

    <!-- Profile Company Content -->
    <div class="profile-company-content" data-bg-color="fff">
        <div class="container">
            <div class="row">

                <!-- SIDE BAR -->
                <div class="col-md-4">
                    <!-- Company Information -->
                    <div class="sidebar">
                        @*<h5 class="main-title">@Model.appuser.UserName</h5>*@
                        <div class="sidebar-thumbnail"> <img src="~/images/UserImages/@Model.appuser.ImageUrl" alt=""> </div>
                        <div class="sidebar-information">
                            <div class="profile-usermenu">
                                <ul class="nav nav-links">
                                    <li><a href="@Url.Action("Index", "Manage")"><i class="fa fa-cog"></i> Account Settings</a></li>
                                    <li>
                                        @using (Html.BeginForm("LogOff", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                        {
                                            @Html.AntiForgeryToken()

                                            <a href="javascript:document.getElementById('logoutForm').submit()"><span class="fa fa-sign-out" aria-hidden="true"></span>Log off</a>


                                            //<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

                                        }
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                
                </div>

                <!-- Tab Content -->
                <div class="col-md-8">

                    <h2>  Manager Dashboard</h2>


                    <div class="network">
                        
                        		  
                    <table class="table table-bordered">
 
                        <tr>	<td>Name</td> <td>@Model.appuser.FirstName @Model.appuser.LastName</td> <td>Communities</td> <td>@Model.Com.Count</td>	</tr>

                        <tr>	<td>Username</td> <td>@Model.appuser.UserName</td> <td>Total Forms</td> <td>@Model.sealed_fom.Count</td>	</tr>

                        <tr>	<td>Account Type</td> <td>@Model.appuser.UserName</td> <td>Active Forms</td> <td>@Model.active_fom.Count</td>	</tr>
					
					
                    </table>

                    <!-- Nav Tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#AcForms">Active Forms (@Model.active_fom.Count)</a></li>
                            <li><a data-toggle="tab" href="#comm">Communities (@Model.Com.Count)</a></li>
                            <li><a data-toggle="tab" href="#sforms">Sealed Forms (@Model.sealed_fom.Count)</a></li>
                        </ul>

                        <!--Tabs Content-->
                        <div class="tab-content">
                            
                        <!--Active Forms-->
                        <div id="AcForms" class="tab-pane fade in active">
                                <div class="net-work-in">
                                    <div class="main-mem">
                                        <!-- Tittle -->
                                        <div class="tittle">
                                            <ul class="row">
                                                <li class="col-xs-4"> <span>Title</span> </li>
                                                <li class="col-xs-3"> <span>Community</span> </li>
                                                <li class="col-xs-3"> <span>Total Members</span> </li>
                                                <li class="col-xs-2 n-p-r n-p-l"> <span>Responses</span> </li>
                                            </ul>
                                        </div>
                                        <div class="folow-persons">
                                            <ul>
                                                @for (var i = 0; i < Model.active_fom.Count; i++)
                                                {
                                                        <li>

                                                            <div class="row">
                                                                <div class="col-xs-4">

                                                                    <!-- Form Title -->
                                                                    <div class="fol-name">

                                                                        <!-- Form Logo -->

                                                                        <div class="avatar"> <img src="images/sm-avatar.jpg" alt=""> </div>

                                                                        <!-- Form Title -->
                                                                        <h6>@Model.active_fom[i].QForms.FormTitle</h6>

                                                                        <!-- Form About -->
                                                                        <span>@Model.active_fom[i].QForms.FormDetail</span>
                                                                    </div>

                                                                </div>

                                                                <!-- Form Community -->
                                                                <div class="col-xs-3 n-p-r n-p-l"> <span>@Model.active_fom[i].Community.CommunityName</span> </div>


                                                                <!-- Total Members -->
                                                                <div class="col-xs-3 n-p-r"> <span>@Model.active_fom[i].Community.CommunityUsers.Count</span></div>

                                                                <!-- Response Received -->
                                                                <div class="col-xs-2 n-p-r n-p-l"> <span>@Model.active_fom[i].QForms.FormUser.Count</span> </div>

                                                            </div>
                                                        </li>
                                                }
                                            </ul>
                                        </div>


                                    </div>
                                </div>
                            </div>

                            <!-- Communities -->
                            <div id="comm" class="tab-pane fade">

                                <div class="net-work-in">


                                    <!-- Members -->
                                    <div class="main-mem">

                                        <!-- Head -->
                                        <div class="head">
                                            <div class="row">

                                                <div class="col-sm-4">
                                                    
                                                    <div class="compop">
                                                        <a class="popup btn btn-primary" href="/admin/create" style="margin-bottom:15px; margin-top:15px;">Add New Community</a>
                                                    </div>

                                                </div>


                                                <div class="col-sm-4">
                                                    <form @*action="/admin/SearchAdminCommunities"*@>
                                                        <input type="search" placeholder="Search" name="cname">
                                                        <button type="submit"><i class="fa fa-search"></i></button>
                                                    </form>
                                                </div>
                                                <div class="col-sm-4">
                                                    <select>
                                                        <option>Alphabetical</option>
                                                        <option>Date Created</option>
                                                        <option>Latest First</option>
                                                    </select>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="tittle">
                                            <ul class="row">
                                                <li class="col-xs-4"> <span>Community Name</span> </li>
                                                <li class="col-xs-2"> <span>Members</span> </li>
                                                <li class="col-xs-2"> <span>Forms</span> </li>
                                                <li class="col-xs-2 n-p-r n-p-l"> <span>Action</span> </li>
                                            </ul>
                                        </div>

                                            <!-- Tittle -->
                                            <div class="folow-persons">
                                                <ul>

                                                    @foreach (var item in Model.Com)
                                                    {
                                                            <!-- COMMUNITY -->
                                                        <li>
                                                            <div class="row">
                                                                <div class="col-xs-1">
                                                                    <!-- COMMUNITY TITLE -->
                                                                    <div class="fol-name">

                                                                        <!-- COMMUNITY Logo -->
                                                                        <div class="avatar"> <img src="~/CommunityImages/@item.CommunityLogo" alt=""> </div>
                                                                    </div>
                                                                </div>

                                                                <div class="fol-name">
                                                                    <div class="col-xs-3">
                                                                        <!-- COMMUNITY Title -->
                                                                        <h6>@item.CommunityName</h6>

                                                                        <!-- COMMUNITY About -->
                                                                        <span>@item.CommunityAbout</span>
                                                                    </div>

                                                                </div>

                                                                <!-- Members -->
                                                                <div class="col-xs-2"> <span>@item.CommunityUsers.Count()</span> </div>


                                                                <!-- Total Forms -->
                                                                <div class="col-xs-2"> <span>@item.FormsCommunity.Count</span></div>

                                                                <div class="col-xs-2">

                                                                    @Html.ActionLink("Go", "ViewDetails", new { controller = "Admin", id = @item.CommunityID })

                                                                </div>

                                                            </div>
                                                        </li>

                                                    }


                                                </ul>


                                            </div>
                                        </div>
                                </div>



                            </div>


                            <!--Sealed Forms-->
                            <div id="sforms" class="tab-pane fade">

                                <div class="net-work-in">
                                    <div class="main-mem">
                                        <!-- Tittle -->
                                        <div class="tittle">
                                            <ul class="row">
                                                <li class="col-xs-4"> <span>Title</span> </li>
                                                <li class="col-xs-3"> <span>Community</span> </li>
                                                <li class="col-xs-3"> <span>Total Members</span> </li>
                                                <li class="col-xs-2 n-p-r n-p-l"> <span>Response</span> </li>
                                                <li class="col-xs-2 n-p-r n-p-l"> <span>Result</span> </li>
                                            </ul>
                                        </div>
                                        <div class="folow-persons">
                                            <ul>
                                                @for (var i = 0; i < Model.sealed_fom.Count; i++)
                                                {
                                                        <li>

                                                            <div class="row">
                                                                <div class="col-xs-4">

                                                                    <!-- Form Title -->
                                                                    <div class="fol-name">

                                                                        <!-- Form Logo -->

                                                                        <div class="avatar"> <img src="images/sm-avatar.jpg" alt=""> </div>

                                                                        <!-- Form Title -->
                                                                        <h6>@Model.sealed_fom[i].QForms.FormTitle</h6>

                                                                        <!-- Form About -->
                                                                        <span>@Model.sealed_fom[i].QForms.FormDetail</span>
                                                                    </div>

                                                                </div>

                                                                <!-- Form Community -->
                                                                <div class="col-xs-3 n-p-r n-p-l"> <span>@Model.sealed_fom[i].Community.CommunityName</span> </div>


                                                                <!-- Total Members -->
                                                                <div class="col-xs-3 n-p-r"> <span>@Model.sealed_fom[i].Community.CommunityUsers.Count</span></div>

                                                                <!-- Response Received -->
                                                                @*<div class="col-xs-2 n-p-r n-p-l"> <span>@Model.fcom[i].QForms.FormUser.Count</span> </div>*@
                                                                <!--View Form-->
                                                                <div class="col-xs-2 n-p-r n-p-l"> @Html.ActionLink("View", "FormResult", new { controller = "Admin", c_id = Model.sealed_fom[i].CommunityID, id = Model.sealed_fom[i].QFormID }) </div>

                                                            </div>
                                                        </li>
                                                }
                                            </ul>
                                        </div>

                                    </div>
                                </div>


                            </div>


                        </div>

                    </div>
                </div>


            </div>

        </div>
    </div>
</div>
<script src="~/Scripts/create_com_popup.js"></script>
